<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaushik.pictentc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup"
            android:label="SIGN UP"
            android:parentActivityName=".login"/>
        <activity
            android:name=".login"
            android:label="Login" />
        <activity
            android:name=".main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".forgot_p"
            android:label="Forgot Password"
            android:parentActivityName=".main"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".se"
            android:label="SE"/>
        <activity android:name=".te"
            android:label="TE"/>
        <activity android:name=".be"
            android:label="BE"></activity>
    </application>

</manifest>