<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kaushik.pictentc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/student"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:label="SIGN UP"
            android:parentActivityName=".login" />
        <activity
            android:name=".login"
            android:label="Login" />
        <activity
            android:name=".forgot_p"
            android:label="Forgot Password"
            android:parentActivityName=".Front" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Year_TE" />
        <activity
            android:name=".Teachers_login"
            android:label="Teacher&apos;s Login" />
        <activity
            android:name=".Notice"
            android:label="Notice"
            android:parentActivityName=".Front" />
        <activity android:name=".Year_SE" />
        <activity
            android:name=".Front"
            android:label=" " />
        <activity android:name=".Year_BE" />
        <activity android:name=".verify" />

        <activity android:name=".teachers_notice"
            android:parentActivityName=".Teachers_login"
            android:label="Notice "></activity>
    </application>

</manifest>